<div class="card">
  <div class="imgContainer">
    <img class="card-img-top" [ngClass]="{'solved-image': rumor.isSolved}" src={{rumor.imageUrls[0]}}>
    <div *ngIf="rumor.isSolved" class="solved-text"> Solved! </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{rumor.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{rumor.postedDateString}}</h6>
    <!-- <p class="card-text">{{rumor.description}}</p> -->
  </div>
  <div class="card-footer">
    <a routerLink="/rumors/{{rumor.id}}" class="card-link">Details</a>
    <a href="{{rumor.pageUrl}}" class="card-link">Community Post</a>
  </div>
</div>
